@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-navy: #0d0950;
  --color-peach: #ff9776;
  --color-terracotta: #d96d4c;
  --color-terracotta-dark: #a64d32;
  --color-gray-light: #f1f5f9;
  --color-gray-dark: #1e1b4b;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
}

/* Typography Overrides */
@utility prose-code-clean {
  :where(code):not(:where([class~="not-prose"] *, pre *)) {
    &::before {
      content: none !important;
    }
    &::after {
      content: none !important;
    }
    font-weight: 600;
  }
}
