@import "tailwindcss";

@theme {
  /* Colors */
  --color-navy: #0d0950;
  --color-peach: #ff9776;
  --color-terracotta: #d96d4c;
  
  --color-gray-light: #f1f5f9;
  --color-gray-dark: #1e1b4b;

  --font-sans: ui-rounded, 'Hiragino Maru Gothic ProN', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h1, h2, h3 {
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
  font-weight: 600; 
  
  color: #0d0950; 
  
  letter-spacing: -0.02em; 
}

.dark h1, 
.dark h2, 
.dark h3 {
  color: #fff;
}

/* nav styles */

/* Container: Aligns everything to the right by default */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

/* Mobile Links: Stacked, Right-Aligned, No Caps */
.nav-links a {
  display: block;
  
  width: fit-content; 
  
  margin-left: auto; 
  
  padding: 2px 5px; 
  
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  
  color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
  border-radius: 4px; 
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

/* Desktop Overrides */
@media screen and (min-width: 636px) {
  
  nav {
    justify-content: center; 
  }

  .nav-links {
    margin: 0;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 0px 20px;
    
    /* Reset the specific mobile styles */
    width: auto;
    margin: 0;
  }

  .menu {
    display: none;
  }
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .menu {
  background-color: #fff;
  color: #000;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #0d0950;
}

.dark .nav-links a {
  color: #fff;
}

.dark a {
  color: #ff9776;
}

footer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.social-link {
  padding: 0.5rem 1rem;
  color: white;
  background-color: #0d0950;
  text-decoration: none;
}