@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Colors */
  --color-navy: #0d0950;
  --color-peach: #ff9776;
  --color-terracotta: #d96d4c;
  
  --color-gray-light: #f1f5f9;
  --color-gray-dark: #1e1b4b;

  --font-sans: ui-rounded, 'Hiragino Maru Gothic ProN', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Typography Overrides */
@utility prose-code-clean {
  :where(code):not(:where([class~="not-prose"] *, pre *)) {
    &::before { content: none !important; }
    &::after { content: none !important; }
    font-weight: 600;
  }
}