---
import '@styles/blog-post.css';

const { pubDate, title, url } = Astro.props;

const dateOptions: Intl.DateTimeFormatOptions = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
};

const parsedDate = new Date(Date.parse(pubDate));
const formattedDate = parsedDate.toLocaleDateString('en-US', dateOptions);
---

<div class="blog-post-item">
  <a href={url} class="post-link">{title}</a>
  <span class="post-date">{formattedDate}</span>
</div>
