---
import '@styles/blog-post.css';

const { pubDate, title, url } = Astro.props;

const formattedDate = pubDate.toString().slice(0,10);
---

<div class="blog-post-item">
  <a href={url} class="post-link">{title}</a>
  <span class="post-date">{formattedDate}</span>
</div>
