---
import MenuLink from "@components/MenuLink.astro";
---

<header>
  <nav class="flex flex-wrap items-center justify-end pb-4 md:justify-center">
    <button
      id="menu-btn"
      aria-expanded="false"
      class="bg-navy m-0 cursor-pointer border-none px-2 py-1 text-lg font-bold text-white md:hidden dark:bg-white dark:text-black"
    >
      Menu
    </button>

    <div
      id="nav-links"
      class="nav-links m-0 hidden w-full md:block md:w-auto md:bg-none"
    >
      <MenuLink linkText="Home" url="/" />
      <MenuLink linkText="About" url="/about" />
      <MenuLink linkText="Tags" url="/tags" />
    </div>
  </nav>
</header>
