---
const { linkText, url } = Astro.props;
---

<a class="block w-fit ml-auto p-2.5 font-bold text-terracotta dark:text-peach no-underline text-lg rounded md:inline-block md:w-auto md:m-0 md:p-4 md:text-center dark:hover:text-navy" href={`${url}`}>
	{linkText}
</a>
