---
const { linkText, url } = Astro.props;
---

<a
  class="text-terracotta dark:text-peach dark:hover:text-navy ml-auto block w-fit rounded p-2.5 text-lg font-bold no-underline md:m-0 md:inline-block md:w-auto md:p-4 md:text-center"
  href={`${url}`}
>
  {linkText}
</a>
