---
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = "500 - Internal Server Error";
const description = "Internal Server Error";
---
<BaseLayout pageTitle={pageTitle} description={description}>

  <div style="text-align: center; margin-top: 4rem;">

    <h1>{pageTitle}</h1>

    <p>We couldn't find that page.</p>

    <a href="/">Go Home</a>

  </div>

</BaseLayout>