---
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = "500 - Internal Server Error";
const description = "Internal Server Error";

interface Props {
  error: unknown;
}

const { error } = Astro.props;
---
<BaseLayout pageTitle={pageTitle} description={description}>

  <div style="text-align: center; margin-top: 4rem;">

    <h1>{pageTitle}</h1>

    <p>Whoops, our servers are having a bad day.</p>

    <a href="/">Go Home</a>

  </div>

</BaseLayout>
